.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 729px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 648px;
  height: 568px;
}

.header__span-accent {
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  font-style: normal;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000;
  position: relative;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
