.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
}

.menu__title {
  max-width: 780px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  margin-top: 0;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
