.recipes {
  padding: 100px 80px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 80px 0;
  color: #fff;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 115px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 24px 0 0;
}
