@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);
@import url(../blocks/menu.css);
@import url(../blocks/card.css);
@import url(../blocks/about.css);
@import url(../blocks/footer.css);

/* .page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 729px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin: 183px 0 0;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 648px;
  height: 568px;
}

.header__span-accent {
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  font-style: normal;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000;
  position: relative;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
.header__paragraph-addres {
  margin: 0;
  position: relative;
  top: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  padding: 100px 80px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.recipes__title {
  max-width: 580px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 80px 0;
  color: #fff;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 24px 0 0;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}
.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.form__label {
  margin-bottom: 32px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 500;
  color: #fff;
}

.form__button:hover {
  opacity: 70%;
  transition-duration: 2s;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  border-radius: 2px;
  font-weight: 500;
  line-height: 20px;
}

.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  width: 540px;
}

.card-title {
  margin: 0 0 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
  gap: 10px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.about {
  padding: 100px 80px 182px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  margin: 0;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  z-index: 1;
  position: relative;
  max-width: 251px;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  position: relative;
  top: 19px;
  left: 370px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -125px;
}*/
